@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

header{
    text-align: center;
}

main{
    text-align: center;
    padding-top: 50px;
}

main input{
    width: 40%;
    height: 35px;

}

main button{
    width: 10%;
    height: 35px;
    background-color: rgba(0, 0, 255, 0.374);
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    
}

main img{
    margin-top: 50px;
    width: 250px;
    height: 350px;
}